/*////////////////////////////////reset styles////////////////////////////////*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
*, ::after, ::before {
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

html {
    height: 100%;
}

body {
    line-height: 1;
    background-color: #fff;
    height: 100%;
    font-family: roboto;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a, a:hover {
    text-decoration: none;
}

a, a:hover, a:visited {
    color: #0087d5;
}

button, button:hover, button:active, button:focus {
    outline: none;
}

/*////////////////////////////////EO reset styles////////////////////////////////*/

.flex-wrapper {
    height: 100%;
    display: flex;
    display: -ms-flexbox;

    justify-content: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;

    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;

    flex-direction: column;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}
.flex-wrapper.flex-wrapper_form-page {
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
}




.form-page {
    height: 100%;
}
.form {
    width: 30%;
    margin-bottom: 20px;
}
.form-button {
    float: right;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

    color: #fff;
    background-color: #007bff;
    cursor: pointer;
}
.form-field {
    margin-bottom: 20px;
}
.form-field.error > input {
    border: 1px solid #dc3545;
}
.form-field.error > label {
    color: #dc3545;
}

.form-field.succsess > input {
    border: 1px solid #28a745;
}
.form-field.succsess > label {
    color: #28a745;
}
.form-field__input {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-field__label {
    display: block;
    margin-bottom: 10px;
}

.validation-massage {
    background-color: white;
    max-width: 600px;
}
.content {
    margin-top: 30px;
    width: 600px;
    background-color: white;
}
.output-box {
    padding-left: 40px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    color: blue;
    font-size: 16px;
    border-bottom: 1px solid darkcyan;
}
.output-box:first-of-type {
    padding-top: 15px;
}
.output-box:last-of-type {
    margin-bottom: 0;
    border-bottom: none;
}